<table border="0" width="100%" cellspacing = "2" class = "backfield2">
<thead>
<tr><webobject name="HasStudent">
<webobject name="TitlePresenter"></webobject><td class="selection" width="2"></td></webobject>
<th style="text-align:center;width:5ex;"><webobject name="DateTitle"/></th>
<th><webobject name="ThemeTitle"/></th>
<webobject name="IfAbbreviated"><th style="width:3em;"><webobject name="HTtitle"/></th></webobject>
<webobject name="IfFull"><th width="35%"><webobject name="HomeTaskTitle"/></th></webobject></tr>
</thead>
<tbody>
<webobject name = "InternalRows"><webobject name = "ShowSeparator">
	<tr><webobject name = "Separator"></webobject></tr></webobject>
	<webobject name="LessonRow">
	<webobject name = "DateCell"><webobject name="LessonDate"/></webobject>
	<webobject name = "ThemeCell"><webobject name="LessonTheme"/></webobject>
	<webobject name = "ExtCell"><webobject name = "ExtValue"/></webobject>
</webobject></webobject><webobject name = "LastCurrent">
	<tr height = "3" class = "selection"><td colspan = "3"></td></tr></webobject>
<!-- tr><td colspan="3" class="grey" height="4"></td></tr -->
</tbody></table>
<p align="center">
<webobject name="Conditional1"><webobject name = "CanSave"><webobject name="SaveButton"/>
</webobject><webobject name = "CanDelete">&nbsp; &nbsp; <webobject name="DeleteButton"/>
</webobject></webobject><webobject name = "CanCreate"> &nbsp; &nbsp;
<webobject name = "ShowAdd"/></webobject></p>