<div class="backfield1" id="ajaxPopup">
<webobject name = "Cross"/>
<table><thead>
<tr><th colspan = "2"><webobject name = "EditJoinTitle"/></th></tr>
<tr><th><webobject name = "CourseTitle"/></th>
	<th><webobject name = "LessonTitle"/> <webobject name = "Date"/></th></tr>
</thead><tbody>
<tr><td><table>
		<tbody><webobject name = "Courses">
			<td><webobject name = "CourseGroup"/></td>
			<td><webobject name = "CourseTeacher"/></td>
			<td style = "font-style:italic;"><webobject name = "CourseComment"/></td>
		</webobject></tbody>
	</td>
	<td><webobject name = "Lessons"/>
		<webobject name = "NewLessonBox"><webobject name = "GenerateLesson"/></webobject>
		</td></tr><webobject name = "LessonChosen">
	<tr><td colspan = "2"><webobject name="Form">
	<div><webobject name = "ReasonSelector"/></div>
	<div style = "padding:3pt;border-top:#666 double;">
	<webobject name="CanChange"><webobject name="Save"/></webobject> 
	</div></webobject>
</td></tr></webobject>
</tbody></table>
</div>