<webobject name = "PageWrapper"><webobject name = "Services">
<strong><webobject name = "ServiceName"/></strong>
<p><webobject name = "Periods"/></p>
</webobject>
<p><strong>Синхронизировать:</strong>
	<webobject name = "SyncPeriods">Периоды</webobject>
	<webobject name = "SyncGroups">Группы</webobject>
	<webobject name = "SyncTimeTable">Звонки</webobject>
</p>
<hr/>
<h3>Events:</h3><webobject name = "Events">
<webobject name = "EventDiv"><webobject name = "EventTime"/>
	<webobject name = "System"/> <webobject name = "Entity"/></webobject>
</webobject>

<webobject name = "SyncForm">
<webobject name = "Since"/> - <webobject name = "To"/>
<webobject name = "SyncMarks"/>
</webobject>
	<hr/>
	<webobject name = "Errors">
		<div><webobject name = "ErrorID"/> | <webobject name = "ErrMethod"/> |
		<webobject name = "Error"/></div>
	</webobject>
</webobject>