<webobject name = "PageWrapper">
<webobject name = "HasSections">
<div style = "position:absolute;left:7px;border:1px solid #999999;" class = "gerade"
	onmouseover = "hideObj('SectionTitle');showObj('SectionTabs')" 
	onmouseout = "hideObj('SectionTabs');showObj('SectionTitle')">
<div id = "SectionTitle" style = "padding:3px;" class = "green">
	<webobject name = "CurrSection"/></div>
<div id = "SectionTabs" style = "display:none;">
<webobject name = "SectionTabs"/></div></div></webobject>
<table align = "center" cellpadding = "0" style = "border-collapse:collapse;">
<tr><th colspan = "2" style = "font-size:160%;padding:1ex;">Взаимодействие с ОЭЖД</th></tr>
<tr><webobject name = "CanSelect">
<td width = "20%" valign = "top" class = "selectionBorder" 
	style = "border-style:solid solid none none;"><webobject name = "CanSeeContacts">
<webobject name="ClassListing1"></webobject></webobject>
<div style = "font-weight:bold; margin-top:1em;">Синхронизировать:</div>
<webobject name = "Tabs"/>
</td></webobject>
<td valign = "top" class = "backfield1"><webobject name = "NoSelection">
<div style = "font-size:150%;margin:3em;">Выберите класс, чтобы указать, оценки каких учащихся отправлять
 в "Общегородской электронный журнал и дневник".<br/>
 Либо выберите режим ручной синхронизации.</div>
</webobject>
<webobject name = "ServiceWorks"><div style = "padding:3px;">
<webobject name = "IsPeriods">
<table border = "1" cellspacing = "5" cellpadding = "2"><tr valign = "top">
<webobject name = "PeriodGroups"><td>
<strong><webobject name = "PGrName"/></strong>
<p><webobject name = "Periods"/></p>
</td>
</webobject></tr>
</table>
<p><strong>Синхронизировать:</strong>
	<webobject name = "SyncPeriods">Периоды</webobject>
	<webobject name = "SyncGroups">Группы</webobject>
	<webobject name = "SyncTimeTable">Звонки</webobject>
</p>
<hr/>
<h3>Синхронизации:</h3>
<table align = "center">
<webobject name = "Events">
<webobject name = "EventDiv"><td><webobject name = "EventTime"/></td>
	<td><webobject name = "System"/></td><td><webobject name = "Entity"/></td></webobject>
</webobject></table>
</webobject>
<webobject name = "IfMarks">
		<webobject name = "AutoSync"><p style = "max-width:40em;margin:auto;">Согласно настройке, ежедневно в 
	<strong><webobject name = "SyncTime"/></strong> происходит автоматическая синхронизация 
	выставленных за день оценок с Общегородским электронным журналом.</p></webobject>
	<div style = "max-width:40em;margin:auto;">Здесь можно вручную инициировать синхронизацию оценок,
		выставленных за указанный период:</div>
		<webobject name = "SyncForm">
		<strong>с:</strong> <webobject name = "Since"/>
		<strong>по:</strong> <webobject name = "To"/>
		<webobject name = "SyncMarks"/>
		</webobject>
	<hr/>
	<div style = "max-width:40em;margin:auto;">Ниже можно увидеть время последних 5 синхронизаций.
	(указаны моменты последних изменений, прошедших синхронизацию)</div>
<table align = "center">
<thead><tr><th>Дата и время</th></tr></thead>
<webobject name = "Events">
	<webobject name = "EventDiv"><td><webobject name = "EventTime"/></td>
	</webobject>
	</webobject></table></webobject></div></webobject>
<webobject name = "IfGroup">
	<div style = "max-width:40em;margin:1ex auto;">Установите галки напротив тех учащихся, 
		оценки которых должны отправляться в ОЭЖД.</div>
	<webobject name = "SetupForm"><webobject name = "Ticker"/>
	<table><thead>
		<tr><th>Учащийся</th>
			<th>Отправлять отметки<br/>, обоснование</th></tr>
	</thead><webobject name = "GroupList">
		<td style = "padding-left:1ex;"><webobject name = "Contacts">
			<div><webobject name = "ActiveFlag"/> <webobject name = "Contact"/></div>
			</webobject></td>
	</webobject>
	<tr><td colspan = "2" style = "padding:1ex;" align = "center">
	<webobject name = "Save"/></td></tr>
</table>
	<div style = "max-width:40em;margin:auto;">В появившихся полях можно указать дополнительную
		информацию, на каком основании отсылаются данные по данному учащемуся.</div>
</webobject>
</webobject><webobject name = "NoService">
	<hr/>
	<h1>Не удалось подключиться к сервису</h1>
	<div class = "message"><webobject name = "ErrorMessage"/></div>
</webobject>
<webobject name = "Errors">
		<div><webobject name = "ErrorID"/> | <webobject name = "ErrMethod"/> |
		<webobject name = "Error"/></div>
</webobject>
</td></tr></table>
</webobject>