<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hover</key>
	<string>Вывод в XML без преобразования</string>
	<key>sort</key>
	<string>90</string>
	<key>title</key>
	<string>XML</string>
	<key>id</key>
	<string>rawXML</string>
	<key>entity</key>
	<string>Maintenance</string>
</dict>
</plist>