<webobject name = "Form"><table><thead>
<tr><th colspan = "2" align = "right">title</th>
	<td><webobject name = "IndexTitle"/></td></tr>
<tr><th colspan = "2" align = "right">formatString</th>
	<td><webobject name = "FormatString"/></td></tr>
</thead><tfoot>

</tfoot><tbody>
<tr class = "grey"><td>&oslash;</td>
	<td><webobject name = "DefaultValue"/></td>
	<td><webobject name = "DefautCommentText"/></td></tr>
</tr>
<webobject name = "Rows">
<tr class = "ungerade"><td><webobject name = "RowIdx"/></td>
	<td><webobject name = "RowValue"/></td>
	<td><webobject name = "RowComment"/></td>
	<webobject name = "DeleteCell">X</webobject></tr>
</webobject></tbody>
</table></webobject>