<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><webobject name = "StudentName"/></title>
</head>
<body>
<p style = "text-align:center;font-size:large;"><webobject name = "ClassName"/>
	<webobject name = "StudentName"/></p>
<p><webobject name = "Reports"><webobject name = "Hyperlink"><webobject name = "ReportName"/></webobject>
	</webobject></p>
<iframe height = "80%" width = "100%" name = "content"></iframe>
</body>
</html>