<div class="backfield1" id="ajaxPopup"><webobject name = "Cross"/>
<webobject name = "Form">
<table border = "0" style = "min-width:30em;border:1px #999999 solid;">
<thead><tr>
	<th colspan = "4" style = "padding:5px;"><webobject name = "Title"/></th>
</tr><tr class = "grey" style = "height:1.4em;">
	<th><webobject name = "DateTitle"/></th>
	<th><webobject name = "ReliefTitle"/></th>
	<th><webobject name = "ContentTitle"/></th>
	<th><webobject name = "AuthorTitle"/></th>
</tr></thead>
<tbody style = "overflow:auto;"><webobject name = "List">
<webobject name = "Row">
	<td><webobject name = "RaiseDate"/><br/> <webobject name = "RaiseTime"/></td>
	<td><webobject name = "ReliefDate"/><br/> <webobject name = "ReliefTime"/></td>
	<td><webobject name = "Content"/></td>
	<td><webobject name = "Author"/></td>
</webobject></webobject>
</tbody></table>