<webobject name = "PrintCourse">
<h1><webobject name = "Title"/></h1>
<table border = "0" cellspacing = "0" cellpadding = "2" align = "center">
<thead><tr>
	<th style = "width:5em;border-left-style:none;"><webobject name="DateTitle"/></th>
	<th style = "width:9ex;"><webobject name = "ValueTitle"/></th>
	<th><webobject name = "ReasonTitle"/></th>
</tr></thead>
<tbody><webobject name = "List"><tr>
	<td style = "border-left-style:none;text-align:center;"><webobject name = "Date"/></td>
	<webobject name = "ValueCell"><webobject name = "VarValue"/></webobject>
	<webobject name = "ReasonCell"><webobject name = "Reason"/></webobject>
</tr></webobject></tbody>
</table></webobject>