<webobject name = "PrintCourse">
<h1><webobject name = "Title"/></h1>
<table border = "0" cellspacing = "0" cellpadding = "2" align = "center">
<thead><tr>
	<th style = "width:5em;border-left-style:none;"><webobject name="DateTitle"/></th>
	<th><webobject name = "TeacherTitle"/></th>
	<th><webobject name = "FactorTitle"/></th>
	<th><webobject name = "ReasonTitle"/></th>
</tr></thead>
<tbody><webobject name = "List"><tr>
	<webobject name = "HasDate"><webobject name = "Cell"><webobject name = "Date"/></webobject></webobject>
	<td><webobject name = "Teacher"/></td>
	<td align = "center"><webobject name = "Factor"/></td>
	<webobject name = "ReasonCell"><webobject name = "Reason"/></webobject>
</tr></webobject></tbody>
</table></webobject>