{
    attributes = (
        {allowsNull = N; columnName = "P_ID"; name = pID; prototypeName = short; }, 
        {columnName = "PEDSOVET_TITLE"; name = title; prototypeName = string; }
    ); 
    attributesUsedForLocking = (title); 
    className = "net.rujel.complete.Pedsovet"; 
    classProperties = (title); 
    externalName = "CPT_PEDSOVET"; 
    fetchSpecificationDictionary = {}; 
    name = Pedsovet; 
    primaryKeyAttributes = (pID); 
}
