<div class="backfield1" id="ajaxPopup"><webobject name = "Cross"/>
<table cellpadding = "0" cellspacing = "0" border = "1" style = "border-collapse:collapse;">
<tr><td width = "300" valign = "top"><webobject name = "Form">
	<table><webobject name = "QueryParams"/>
	<tr><td colspan = "2"><webobject name = "SubmitButton"/>
		<webobject name = "CurrYear"/> <webobject name = "Year"/></td></tr>
	</table></webobject>
</td><webobject name = "HasSelection">
<td valign = "top"><webobject name = "IfGrade"><webobject name = "GradeForm">
		= <webobject name = "GradeSelector"/><br/>
		<webobject name = "GradeMin"/> ... <webobject name = "GradeMax"/><br/>
		<input type = "button" onclick  = "ajaxPost(form);" value = "OK"/>
	</webobject>
	</webobject><webobject name = "IfSubject"><webobject name = "RegexForm">
		<webobject name = "SubjectRegex"/><br/>
		<input type = "button" onclick  = "ajaxPost(form);" value = "OK"/></webobject>
	</webobject><webobject name = "IfCycle"><table><tr>
	<td style = "min-width:6em;" valign = "top"><table width = "100%"><webobject name = "Grades">
		<td><webobject name = "Grade"/></td>
	</webobject></table></td>
	<td style = "min-width:16em;" valign = "top"><table width = "100%"><webobject name = "Cycles">
	<webobject name = "CycleRow"><td><webobject name = "Subject"/></td>
			<webobject name = "HasExtra"><td><webobject name = "CycleInfo"/></td></webobject>
		</webobject></webobject></table></td>
</tr></table>
	</webobject><webobject name = "IfPresent"><webobject name = "EditorPresent"></webobject>	
	</webobject></td></webobject>
</tr>
</table>
</div>