<div class="backfield1" id="ajaxPopup"><webobject name = "Cross"/>
<table><tr>
	<td><table><webobject name = "Grades">
	<tr><webobject name = "GradeCell"><webobject name = "Grade"/></webobject>
		<td><webobject name = "Groups"><webobject name = "GroupCell">
			<webobject name = "GroupName"/></webobject></webobject></td>
	</tr></webobject></table></td>
	<td><table><webobject name = "Cycles"><webobject name = "CycleRow">
	<webobject name = "CycleCell"><webobject name = "Subject"/></webobject>
	<td class = "grey"><webobject name = "Courses">
		<webobject name = "CourseCell"><em><webobject name = "CourseComment"/></em>
			<webobject name = "CourseTeacher"/></webobject>
	</webobject></td>
	</webobject></webobject></table></td>
</tr></table>
<table align = "left"><colgroup><col style = "min-width:3em;" />
	<col style = "min-width:6em;" />	<col style = "min-width:5em;" />
	</colgroup><webobject name = "ByCoursePresenter"/></table>
<webobject name = "Form"><webobject name = "SubmitButton"/>
	<span style = "white-space:nowrap;"><webobject name = "CurrYear"/> <webobject name = "Year"/></webobject>
</div>