<div class="backfield1" id="ajaxPopup"><webobject name = "Cross"/>
<table cellpadding = "0" cellspacing = "0" border = "1" style = "border-collapse:collapse;width:600px;">
<tr><td colspan = "2">
	<table><thead><tr>
			<th>?</th>
			<th><webobject name = "EduGroupLabel"/></th>
			<th><webobject name = "EduPlanLabel"/></th>
			<th><webobject name = "TeacherLabel"/></th>
	</tr></thead><tbody><webobject name = "QList">
	<tr class = "grey" style = "min-height:1em;"><webobject name = "Matrix">
		<webobject name = "MatrixCell"><webobject name = "IsValue">
			<webobject name = "Value"/></webobject></webobject><webobject name = "OtherList"></webobject>
			</webobject>
	</tr></webobject></tbody></table>
</td></tr>
<webobject name = "HasSelection"><tr>
<td width = "40%" valign = "top"><webobject name = "Editors"><webobject name = "SelectEditor">
	<webobject name = "EditorItemTitle"/></webobject></webobject>
	<webobject name = "SelectEditor">none</webobject>
	</td>
<td width = "60%" valign = "top"><webobject name = "IfGrade"><webobject name = "GradeForm">
		= <webobject name = "GradeSelector"/><br/>
		<webobject name = "GradeMin"/> ... <webobject name = "GradeMax"/><br/>
		<input type = "button" onclick  = "ajaxPost(form);" value = "OK"/>
	</webobject>
	</webobject><webobject name = "IfSubject"><webobject name = "RegexForm">
		<webobject name = "SubjectRegex"/><br/>
		<input type = "button" onclick  = "ajaxPost(form);" value = "OK"/></webobject>
	</webobject><webobject name = "IfCycle"><table><tr>
	<td style = "min-width:6em;" valign = "top"><table width = "100%"><webobject name = "Grades">
		<td><webobject name = "Grade"/></td>
	</webobject></table></td>
	<td style = "min-width:16em;" valign = "top"><table width = "100%"><webobject name = "Cycles">
	<webobject name = "CycleRow"><td><webobject name = "Subject"/></td>
			<webobject name = "HasExtra"><td><webobject name = "CycleInfo"/></td></webobject>
		</webobject></webobject></table></td>
</tr></table>
	</webobject><webobject name = "IfPresent"><webobject name = "EditorPresent"></webobject>	
	</webobject></td>
</tr></webobject>
<webobject name = "NoSelection">
	<tr><td colspan = "2" style = "padding:1ex; min-width:8em;white-space:nowrap;">
<webobject name = "SubmitForm"><webobject name = "SubmitButton"/>
		<webobject name = "CurrYear"/> <webobject name = "Year"/></webobject>
	</td></tr></webobject>
</table>
</div>