<table class = "backfield1"><tr>
	<td valign = "top" style = "min-width:4em;"><webobject name = "ClassListing"></webobject></td>
	<td valign = "top"><webobject name = "SubjectsListing"><webobject name = "SubjectString"/></webobject></td>
	<td valign = "top"><webobject name = "Form"><table cellpadding = "3"><thead>
	</thead><tbody><webobject name = "CyclesRepetition"><webobject name = "Courses">
	<webobject name = "CourseRow"><webobject name = "FirstCourse">
		<webobject name = "CycleHeadCell"><webobject name = "CycleSubject"/>
			<webobject name = "CycleGrade"/></webobject></webobject>
		<td><webobject name = "EduGroup"/></td>
		<webobject name = "TeacherCell"><webobject name = "Teacher"/></webobject>
		<webobject name = "ListsRepetition"><webobject name = "PeriodsRepetition">
		<webobject name = "PeriodCell"><webobject name = "ShowFields">
			<webobject name = "TotalField"/> <webobject name = "WeeklyField"/>
			</webobject><webobject name = "NoFields"><webobject name = "WeeklyHours"/>
			</webobject></webobject></webobject></webobject>
		</webobject>
	</webobject></webobject></tbody></table></webobject></td>
</tr></table>