<div class="backfield1" id="ajaxPopup">
<webobject name = "Cross"/><webobject name = "Form">
<table>
<tr><th colspan = "2"><webobject name = "Title"/></th></tr>
<tr><td colspan = "2"><webobject name = "Description"/></td></tr>
<tr><td colspan = "2">Дополнительные параметры</td></tr>
	<webobject name = "ExtraData"/><webobject name = "Indexes">
<tr><th colspan = "2"><webobject name = "IndexTitle"/></th></tr>
<tr><td><webobject name = "LocalTitle"/></td><td><webobject name = "ExternalTitle"/></td></tr>
	<webobject name = "IndexRows"><tr><td><webobject name = "LocalValue"/></td>
		<td><webobject name = "ExtValue"/></td></tr></webobject>
	</webobject>
<tr><td colspan = "2"><webobject name = "Submit"/>  <webobject name = "Save"/></td></tr>
</table>
</webobject></div>