<webobject name = "PageWrapper">
<h1><webobject name = "Title"/></h1>
<div style = "text-align:center;">
<webobject name = "Form"><webobject name = "SelectMonth"/> <webobject name = "Year"/>
<webobject name = "ExportLink"></webobject></webobject>
</div>
<div>
<webobject name = "SelectTeacher"><webobject name = "TeacherName"/></webobject>
</div>
<table cellpadding = "6">
<thead><tr><td colspan = "2"></td><webobject name = "Days">
<th><webobject name = "Value"/></th></webobject>
<th><webobject name = "SumTitle"/></th>
</tr></thead>
<tbody><webobject name = "Details">
<webobject name = "Row"><webobject name = "NoColspan">
<td><webobject name = "GroupName"/></td>
</webobject><webobject name = "HeaderCell"><webobject name = "SubjectString"/></webobject>
<webobject name = "Days"><td><webobject name = "Value"/></td>
</webobject><td style = "font-weight:bold;"><webobject name = "SumValue"/></td>
</webobject></webobject></tbody>
</table>
</webobject>