<div style="display:block;position:absolute;top:30%;left:30%;padding:10pt;" class="backfield1" id="ajaxPopup">
<webobject name = "PopupForm">
<table width="100%" border="0">
<tr class = "grey">
    <td></td>
    <td></td>
    <td></td>
    <webobject name = "TitlePresenter"/>
    <td></td>
</tr>

<webobject name = "Archives"><tr style = "height:2em;" class = "ungerade">
    <td style = "padding:0px 2pt;"><webobject name = "ArchDate"/></td>
    <td style = "padding:0px 2pt;"><webobject name = "ArchTime"/></td>
    <td style = "padding:0px 3pt;"><webobject name = "Author"/></td>
    <webobject name = "Presenter"/>
    <td><webobject name = "Reason"/></td>
</tr></webobject>
</table>
<div style = "text-align:center;padding-top:1ex;"><webobject name="CancelButton"/></div>
</webobject>
</div>