<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Синхронизация</title>
</head>
<body>
	<h1>Идёт синхронизация</h1>
	
	<webobject name = "Progress"/>
	<div style = "float:right;">
	<webobject name = "Current"/>/<webobject name = "Total"/></div>
	<webobject name = "CurrentMoment"/>
	<webobject name = "Cancel">Отменить</webobject>
	<hr/>
	<webobject name = "Errors">
		<div><webobject name = "ErrorID"/> | <webobject name = "ErrMethod"/> |
		<webobject name = "Error"/></div>
	</webobject>
</body>
</html>
