<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showAll</key>
	<string>Добавить предметы</string>
	<key>hideUnused</key>
	<string>Скрыть неиспользуемые</string>
	<key>cantDeleteArea</key>
	<string>Нельзя удалять предметную область, пока в ней есть предметы</string>
	<key>properties</key>
	<dict>
		<key>subject</key>
		<string>Предмет</string>
		<key>subjects</key>
		<string>Предметы</string>
		<key>fullName</key>
		<string>Полное название</string>
		<key>area</key>
		<string>Предметная область</string>
		<key>hours</key>
		<string>часов</string>
		<key>level</key>
		<string>Уровень</string>
		<key>normalGroup</key>
		<string>норма</string>
		<key>normalTitle</key>
		<string>нормальное количество учащихся в подгруппе</string>
		<key>subgroups</key>
		<string>групп</string>
		<key>subgrTitle</key>
		<string>количество подгрупп в классе</string>
	</dict>
	<key>GlobalPlan</key>
	<string>Учебный план </string>
	<key>planRegime</key>
	<dict>
		<key>title</key>
		<string>Учебный План</string>
		<key>component</key>
		<string>GlobalPlan</string>
		<key>group</key>
		<string>edu</string>
		<key>sort</key>
		<string>40</string>
	</dict>
	<key>EduPeriod</key>
	<dict>
		<key>this</key>
		<string>Учебный период</string>
		<key>eduYear</key>
		<string>Учебный год</string>
		<key>name</key>
		<string>Название</string>
		<key>begin</key>
		<string>Начало</string>
		<key>end</key>
		<string>Конец</string>
		<key>title</key>
		<string>Кратко</string>
		<key>fullName</key>
		<string>Полное название</string>
	</dict>
	<key>messages</key>
	<dict>
		<key>beginEndPeriod</key>
		<string>Конец периода не может быть раньше начала</string>
		<key>invalidDateInMonth</key>
		<string>Неверная дата для выбранного месяца</string>
		<key>titleRequired</key>
		<string>Необходимо указать краткое название периода</string>
		<key>titleTooLong</key>
		<string>Слишком длинное краткое название периода.&lt;br/&gt; Можно использовать не более двух слов длиной не более 4 букв каждое.</string>
	</dict>
</dict>
</plist>
