{
    attributes = (
        {
            allowsNull = N; 
            columnName = "BASE_IDENTIFIER"; 
            name = baseID; 
            prototypeName = string; 
        }, 
        {columnName = "SYSTEM_DESCRIPTION"; name = description; prototypeName = text; }, 
        {columnName = "PRODUCT_NAME"; name = productName; prototypeName = string; }, 
        {allowsNull = N; columnName = "S_ID"; name = sID; prototypeName = short; }
    ); 
    attributesUsedForLocking = (baseID, description, productName); 
    className = "net.rujel.io.ExtSystem"; 
    classProperties = (baseID, description, extData, productName, syncIndexes); 
    externalName = "SYNC_EXT_SYSTEM"; 
    fetchSpecificationDictionary = {}; 
    name = ExtSystem; 
    primaryKeyAttributes = (sID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ExtData; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sysID; sourceAttribute = sID; }); 
            name = extData; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = SyncIndex; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sysID; sourceAttribute = sID; }); 
            name = syncIndexes; 
        }
    ); 
}
