<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth.access</key>
	<dict>
		<key>ReporterSetup</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>3</string>
			<key>tutor</key>
			<string>1</string>
		</dict>
		<key>Overview</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>tutor</key>
			<string>7</string>
			<key>teacher</key>
			<string>3</string>
		</dict>
		<key>CriteriaSet</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>7</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>AdminPage</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zav_kaf</key>
			<string>1</string>
			<key>zavuch</key>
			<string>1</string>
		</dict>
		<key>oldLesson</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>15</string>
			<key>teacher</key>
			<string>1</string>
		</dict>
		<key>Contacts</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>127</string>
		</dict>
		<key>Contact</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>127</string>
		</dict>
	</dict>
</dict>
</plist>
