<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.dnevnik.DnevnikModule</string>
	<key>sort</key>
	<string>99</string>
	<key>dnevnik</key>
	<dict>
		<key>serviceURL</key>
		<string>http://31.13.60.189/services.dnevnik.mos.ru/ImportService.asmx?WSDL</string>
		<key>syncTime</key>
		<string>23:45</string>
		<key>sendAll</key>
		<false/>
	</dict>
</dict>
</plist>
