<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.base.BaseModule</string>
	<key>sort</key>
	<string>30</string>
	<key>dbConnection</key>
	<dict>
		<key>BaseYearly</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>BaseStatic</key>
		<dict>
			<key>dbName</key>
			<string>RujelStatic</string>
		</dict>
	</dict>
	<key>interfaces</key>
	<dict>
		<key>EduLesson</key>
		<string>net.rujel.base.BaseLesson</string>
		<key>EduCourse</key>
		<string>net.rujel.base.BaseCourse</string>
		<key>EduCycle</key>
		<string>net.rujel.base.PrimitiveEduCycle</string>
	</dict>
	<key>auth.access</key>
	<dict>
		<key>BaseCourse</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zav_kaf</key>
			<string>127</string>
			<key>zavuch</key>
			<string>127</string>
			<key>any</key>
			<string>1</string>
			<key>teacher</key>
			<string>83</string>
		</dict>
		<key>BaseLesson</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zav_kaf</key>
			<string>127</string>
			<key>zavuch</key>
			<string>127</string>
			<key>any</key>
			<string>1</string>
			<key>teacher</key>
			<string>31</string>
		</dict>
		<key>BaseNote</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>15</string>
		</dict>
		<key>EduPlanEditor</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>PrimitiveEduCycle</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>SettingByCourse</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>any</key>
			<string>1</string>
		</dict>
	</dict>
</dict>
</plist>
