<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.contacts.EMailBroadcast</string>
	<key>mail</key>
	<dict>
		<key>smtpServerURL</key>
		<string>smtp.gmail.com</string>
		<key>secure</key>
		<string>true</string>
		<key>smtpUser</key>
		<string>fake@rujel.net</string>
		<key>smtpPassword</key>
		<string></string>
		<key>mailFrom</key>
		<string>&quot;RUJEL&quot;&lt;fake@rujel.net&gt;</string>
		<key>replyTo</key>
		<string>rujel@rujel.net</string>
		<key>messageLag</key>
		<string>1</string>
		<key>_messageFilePath</key>
		<string>CONFIGDIR/message.txt</string>
		<key>dontSend</key>
		<string>true</string>
		<key>writeToFile</key>
		<string>true</string>
		<key>writeFileDir</key>
		<string>/Users/Shared/test/mail</string>
		<key>broadcastWeekday</key>
		<string>6</string>
		<key>broadcastTime</key>
		<string>5:30</string>
		<key>denyRequesting</key>
		<string>false</string>
	</dict>
	<key>dbConnection.Contacts</key>
	<dict>
		<key>skip</key>
		<string>false</string>
	</dict>
</dict>
</plist>
