<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.curriculum.CurriculumModule</string>
	<key>edu</key>
	<dict>
		<key>disablePlanFactCheck</key>
		<string>false</string>
		<key>_planFactLagDays</key>
		<string>1</string>
		<key>planFactCheckTime</key>
		<string>17:00</string>
		<key>_ignoreUnverifiedReasons</key>
		<string>true</string>
		<key>joinFactor</key>
		<string>0.5</string>
	</dict>
	<key>dbConnection.Curriculum</key>
	<dict>
		<key>dbName</key>
		<string>RujelYear%s</string>
	</dict>
	<key>_auth_access</key>
	<dict>
		<key>Curriculum</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>1</string>
			<key>any</key>
			<string>0</string>
		</dict>
		<key>Substitute</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>15</string>
			<key>teacher</key>
			<string>3</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>Variation</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>15</string>
			<key>teacher</key>
			<string>7</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>Reason</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>3</string>
			<key>teacher</key>
			<string>3</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>Reprimand</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>1</string>
		</dict>
		<key>ListsEditor</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>zav_kaf</key>
			<string>7</string>
			<key>tutor</key>
			<string>7</string>
			<key>teacher</key>
			<string>1</string>
		</dict>
		<key>Tabel</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>5</string>
		</dict>
	</dict>
	<key>auth.access</key>
	<dict>
		<key>thisIsPlistLink</key>
		<string>true</string>
		<key>inputFilePath</key>
		<string>access/RujelCurriculum.plist</string>
	</dict>
</dict>
</plist>
