<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.autoitog.AutoItogModule</string>
	<key>dbConnection.AutoItog</key>
	<dict>
		<key>skip</key>
		<string>false</string>
		<key>dbName</key>
		<string>RujelYear%s</string>
	</dict>
	<key>edu</key>
	<dict>
		<key>disableAutoItog</key>
		<string>false</string>
		<key>_ignorePrognosesAfterDays</key>
		<string>45</string>
		<key>overwriteItogsScheduled</key>
		<string>false</string>
	</dict>
	<key>auth.access</key>
	<dict>
		<key>AutoItog</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>any</key>
			<string>1</string>
		</dict>
		<key>Prognosis</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>7</string>
		</dict>
		<key>Bonus</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>3</string>
			<key>tutor</key>
			<string>1</string>
		</dict>
		<key>Timeout</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>1</string>
			<key>tutor</key>
			<string>3</string>
		</dict>
		<key>CourseTimeout</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>1</string>
		</dict>
		<key>StudentTimeout</key>
		<dict>
			<key>root</key>
			<string>1023</string>
			<key>zavuch</key>
			<string>15</string>
			<key>teacher</key>
			<string>1</string>
			<key>tutor</key>
			<string>3</string>
		</dict>
	</dict>
</dict>
</plist>
