<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ui</key>
	<dict>
		<key>allowTimeMachine</key>
		<string>true</string>
		<key>dateFormat</key>
		<string>dd.MM.yyyy</string>
		<key>shortDateFormat</key>
		<string>dd.MM</string>
		<key>_defaultDate</key>
		<string>08.09.2009</string>
		<key>keyValueCacheSize</key>
		<string>2</string>
		<key>redirectTimeout</key>
		<string>10</string>
		<key>_localisationFolder</key>
		<string>LOCALROOT/Library/WebObjects/Configuration/Localisations/testLocale</string>
		<key>defaultLocalisation</key>
		<string>Русский</string>
		<key>localisations</key>
		<dict>
			<key>Украинский</key>
			<string></string>
			<key>Белорусский</key>
			<string></string>
			<key>English</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
