<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Прогнозы</string>
	<key>description</key>
	<string>Выборка прогнозов итоговых оценок за период</string>
	<key>entity</key>
	<string>Prognosis</string>
	<key>params</key>
	<array>
		<dict>
			<key>title</key>
			<string>Период</string>
			<key>presenter</key>
			<string>WOPopUpButton</string>
			<key>takeValuesFromRequest</key>
			<string>true</string>
			<key>invokeAction</key>
			<string>false</string>
			<key>presenterBindings</key>
			<dict>
				<key>list</key>
				<string>$session.modules.periods</string>
				<key>item</key>
				<string>.item</string>
				<key>displayString</key>
				<string>.item.title</string>
				<key>selection</key>
				<string>.period</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Величина</string>
			<key>presenter</key>
			<string>WOPopUpButton</string>
			<key>takeValuesFromRequest</key>
			<string>true</string>
			<key>invokeAction</key>
			<string>false</string>
			<key>presenterBindings</key>
			<dict>
				<key>list</key>
				<string>$session.modules.periods</string>
				<key>item</key>
				<string>.item</string>
				<key>displayString</key>
				<string>.item.title</string>
				<key>selection</key>
				<string>.period</string>
			</dict>
		</dict>
	</array>
	<key>qualifier</key>
	<dict>
		<key>args</key>
		<array>
			<string>to</string>
			<string>since</string>
		</array>
		<key>formatString</key>
		<string>date &lt;= %@ AND date &gt;= %@</string>
	</dict>
	<key>prefetch</key>
	<array>
		<string>student</string>
		<string>eduCourse.cycle</string>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>title</key>
			<string>Класс</string>
			<key>keyPath</key>
			<string>eduCourse.eduGroup</string>
			<key>titlePath</key>
			<string>name</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Ученик</string>
			<key>keyPath</key>
			<string>student</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>person</key>
				<string>.</string>
				<key>last</key>
				<string>2</string>
				<key>first</key>
				<string>2</string>
				<key>second</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Предмет</string>
			<key>keyPath</key>
			<string>eduCourse</string>
			<key>titlePath</key>
			<string>subjectWithComment</string>
			<key>escapeHTML</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Учитель</string>
			<key>keyPath</key>
			<string>eduCourse.teacher</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>person</key>
				<string>.</string>
				<key>last</key>
				<string>2</string>
				<key>first</key>
				<string>1</string>
				<key>second</key>
				<string>1</string>
			</dict>
			<key>active</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Прогноз</string>
			<key>keyPath</key>
			<string>mark</string>
			<key>style</key>
			<string>text-align:center;font-weight:bold;</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Успешность</string>
			<key>keyPath</key>
			<string>value</string>
			<key>titlePath</key>
			<string>stripTrailingZeros</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Выполнено</string>
			<key>keyPath</key>
			<string>complete</string>
		</dict>
	</array>
</dict>
</plist>
