<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title><webobject name = "Title"/></title>
		<webobject name = "Reusables"/>
		<webobject name = "LocalLinks"/>
	</head>
	<body>
	<table width = "100%">
		<tr><td width = "20%">
		<webobject name = "Form">
		<webobject name = "DateField"/>
		</webobject>
		</td><td rowspan = "2" class = "backfield2">
		
		</td></tr>
		<tr><td class = "backfield1">
		<table width = "100%">
		<webobject name = "GroupRow">
		<td><webobject name = "GroupName"/></td>
		</webobject>
		</table>
		</td></tr>
	</table>
	</body>
</html>
