<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><webobject name = "Title"/></title>
		<webobject name = "RGBColor"/>
		<webobject name = "Reusables"/>
		<webobject name = "LocalLinks"/>
		<webobject name = "TabLinks"/>		
	</head>
	<body>
	<table width = "100%">
		<tr><td width = "10%" align = "center">
		<webobject name = "Form">
		<webobject name = "ShowSince"><webobject name = "Since"/></webobject>
		<webobject name = "DateField"/>
		</webobject>
		</td>
		<td style = "vertical-align:bottom;border-style:none none solid;" class = "selectionBorder">
		<webobject name = "Tabs"/></td>
		</tr>
		<tr><td class = "backfield2">
		<table width = "100%">
		<webobject name = "GroupRow">
		<td align = "right"><webobject name = "GoupGrade"/></td>
		<td align = "left"><webobject name = "GroupName"/></td>
		</webobject>
		</table>
		</td>
		<td class = "backfield1 selectionBorder" style = "border-style:none;border-left-style:solid;">
		<webobject name = "Component"/>
		</td></tr>
	</table>
	</body>
</html>
