<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>schoolNumber</key>
	<string>0</string>
	<key>diaryLogging</key>
	<string>CONFIGDIR/diaryLog.properties</string>
	<key>loggingProperties</key>
	<string>LOCALROOT/Library/WebObjects/Configuration/logging.properties</string>
	<key>schoolName</key>
	<string>Школа № ???</string>
	<key>edu</key>
	<dict>
		<key>minGrade</key>
		<string>5</string>
		<key>maxGrade</key>
		<string>11</string>
		<key>defaultDate</key>
		<string>12.01.2010</string>
		<key>newYearMonth</key>
		<string>6</string>
	</dict>
</dict>
</plist>
