<webobject name = "TitleRow"><webobject name = "HasPeriods"><webobject name = "TitleCell">
<webobject name = "Title"/></webobject></webobject></webobject>
<webobject name = "NotTitle"><webobject name="NoStudent"><webobject name="PeriodsRepetition">
<webobject name = "TitleContainer"><div style="width:2em;">
	<webobject name="PeriodTitle"></webobject></div></webobject>
</webobject></webobject></webobject>
<webobject name="HasStudent"><webobject name="PeriodsRepetition">
<webobject name="ItogMarkContainer"><webobject name="Mark"/><webobject name = "Star"/>
</webobject></webobject></webobject>