<webobject name = "PageWrapper">
<h1><webobject name = "Title"/></h1>
<webobject name = "Form">
<table align = "center">
<tr><th colspan = "2"><webobject name="PeriodTitle"/>:</th>
<th>action</th>
<td rowspan = "3" style = "padding:10px;"><webobject name = "Submit"/></td>
</tr>
<tr><td><webobject name="PeriodTitle2"/></td><td><webobject name="SinceField"/></td>
<td rowspan = "2">
	<webobject name = "Radio0"/> <webobject name = "Action0"/>
<br/><webobject name = "Radio2"/> <webobject name = "Action2"/>
<br/><webobject name = "Radio3"/> <webobject name = "Action3"/>
</td></tr>
<tr><td><webobject name="PeriodTitle3"/></td><td><webobject name="ToField"/></td></tr>
</table>
</webobject>
<table align = "center">
<thead>
<tr class = "orange"><th><webobject name = "DateTitle"/> + <webobject name = "TimeTitle"/>
</th><th><webobject name = "AuthorTitle"/>
</th><th><webobject name = "EntityTitle"/>
</th><th>action
</th><th><webobject name = "ReasonTitle"/>
</th></tr>
</thead><tbody><webobject name = "Rows">
<webobject name = "RowContainer">
	<td><webobject name = "Timestamp"/></td>
	<td><webobject name = "Author"/></td>
	<td><webobject name = "Entity"/></td>
	<td><webobject name = "ActionType"/></td>
	<td><webobject name = "Reason"/></td>
</webobject>
</webobject></tbody>
</table>
</webobject>