<h3><webobject name = "Title"/></h3>
<table border = "0" width = "100%"><tr>
<th class="label" style = "background-color:transparent"><webobject name = "LabelTitle"/></th>
<th><webobject name = "ContentTitle"/></th>
<th style = "width:10ex;"><webobject name = "AnnounceTitle"/>
</table>
<webobject name = "Sections">
	<webobject name = "RegularSection">
		<div class = "section">
			<webobject name = "SectionTitle"/>
		</div>
		<webobject name = "Table"><webobject name = "ListRepetition">
		<webobject name = "RegularRow">
		<webobject name = "ItemRow">
			<td class = "label"><webobject name = "Label"/></td>
			<td><webobject name = "WorkText"/>
			<webobject name = "HasLink"><webobject name = "LinkImage"/></webobject>
			<td style = "width:10ex;"><webobject name = "Announce"/></td>
		</webobject></webobject>
		<webobject name = "SplitRow">
		<tr height = "2px" class = "grey"><td colspan = "3"></td></tr>
		</webobject>
		</webobject></webobject>
	</webobject>
	<webobject name = "SplitSections"><hr width = "96%"/></webobject>
</webobject>
