<webobject name = "Sections">
	<webobject name = "RegularSection">
		<div class = "section">
			<webobject name = "SectionTitle"/>
		</div>
		<webobject name = "Table"><webobject name = "ListRepetition">
		<webobject name = "ItemRow">
		<webobject name = "RegularRow">
			<td class = "label"><webobject name = "Label"/></td>
			<td><webobject name = "WorkText"/>
			<webobject name = "HasLink"><webobject name = "LinkImage"/></webobject>
			</webobject>
		</webobject>
		</webobject></webobject>
	</webobject>
	<webobject name = "SplitSections"><hr width = "96%"/></webobject>
</webobject>
