<h3><webobject name = "Title"/></h3>
<webobject name = "Sections">
	<webobject name = "RegularSection">
		<div class = "section">
			<webobject name = "SectionTitle"/>
		</div>
		<webobject name = "Table"><webobject name = "ListRepetition">
		<webobject name = "RegularRow">
		<webobject name = "ItemRow">
			<td class = "label"><webobject name = "Label"/></td>
			<td><webobject name = "WorkText"/>
			<webobject name = "HasLink"><webobject name = "LinkImage"/></webobject>
		</webobject></webobject>
		<webobject name = "SplitRow">
		<tr height = "2px" class = "grey"><td colspan = "2"></td></tr>
		</webobject>
		</webobject></webobject>
	</webobject>
	<webobject name = "SplitSections"><hr width = "96%"/></webobject>
</webobject>
